certifi
chardet
Click
cmake
dlib
face-recognition
face-recognition-models
Flask
Flask-Cors
idna
itsdangerous
Jinja2
MarkupSafe
numpy
#pkg-resources
psycopg2-binary
requests
six
urllib3
Werkzeug
opencv-python
flask-socketio
python-dotenv