certifi
chardet==3.0.4
Click
cmake
dlib==19.22.0
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask
Flask-Cors
idna
itsdangerous
Jinja2
MarkupSafe
numpy
#pkg-resources
psycopg2-binary
requests
six
urllib3
Werkzeug
opencv-python
flask-socketio==5.3.6
python-dotenv
